# It's recommended to read these values from ENV or Vault.
#aws-access-key = "myAWSAccessKey"
#aws-secret-key = "myAWSSecret"

APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY = "secret-here" # Read this value from ENV or Vault. 